
table {
    border-collapse: collapse;
    width: 80%; /* Cambia el ancho de la tabla según tus necesidades */
    margin: 20px auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px; /* Aumenta el espacio alrededor del contenido de las celdas */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Ajusta el tamaño del campo de búsqueda */
#myInput {
    width: 100%; /* Cambia el ancho del campo de búsqueda */
    padding: 10px; /* Aumenta el espacio alrededor del campo de búsqueda */
}
